<div class="container">

    <div fxLayout="row" fxLayoutAlign="center end">
        <div fxFlex="50">
            <h4>Web Content Structures available</h4>
            <mat-form-field>
                <mat-label>Select Web Content Structure</mat-label>
                <mat-select [(ngModel)]="selectedStructure">
                    <mat-option *ngFor="let webContentStructure of webContentStructures" [value]="webContentStructure">
                        {{webContentStructure.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" (click)="openDialog(null)"
                disabled="{{selectedStructure == undefined}}">Add Web Content</button>
        </div>

        <div fxLayout="col" fxFlex fxFlexAlign="end end">
            <div fxFlex="100">
                <mat-form-field class="searchInput">
                    <mat-label>Search for publications</mat-label>
                    <input matInput [(ngModel)]="searchTerm" />
                </mat-form-field>
            </div>

            <div fxFlexAlign="center">
                <button mat-button color="primary" (click)="search()">
                    search
                </button>
            </div>
        </div>

    </div>

    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No data matching the filter.
            </td>
        </tr>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="contentStructureId">
            <th mat-header-cell *matHeaderCellDef> Structure Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.webContentStructure != undefined?
                element.webContentStructure.name: '---'}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef> Create Date </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary">Guardar</button>
                <button mat-button color="primary" (click)="updateWebContent(element)">Editar</button>
                <button mat-button color="primary" (click)="publishWebContent(element)">Publicar</button>
                <button mat-button color="primary" (click)="unpublishWebContent(element)">Despublicar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>