table{
    width: 100%;
}

.container{
    padding: 50px 80px;
}

.searchInput{
    min-width: 100%;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.top-actions{
    padding-bottom: 20px;
}
